.RelatedWrapper {
  background-color: #fff;
  flex: 1;
  padding: 30px 20px;
  max-width: 100%;
  h5 {
    margin-bottom: 43px;
    text-transform: capitalize;
  }
  p {
    font-size: 18px;
    margin-bottom: 47px;
  }
}
