.RelatedCard {
  background-color: #f0f0f0;
  padding: 20px 30px;
  margin-bottom: 27px;

  h5 {
    text-transform: capitalize;
    margin-bottom: 24px;
    a {
      text-decoration: underline;
    }
  }

  p {
    font-size: 18px;
    margin-bottom: 24px;
  }

  .Properties {
    list-style: none;
    display: flex;
    &__Item {
      margin-right: 40px;
      b {
        text-transform: capitalize;
      }
    }
  }
}
