.SearchBox {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 34px;

  input {
    max-width: 776px;
    width: 100%;
    padding: 20px 16px;
    font-size: 26px;
    border: 1px solid #000000;
    border-radius: 5px;

    &::placeholder {
      color: rgba(0, 0, 0, 0.5);
    }
  }
}
