.Sidebar {
  padding: 25px;
  margin-bottom: 42px;
  width: 224px;
  flex: 1;

  @media (min-width: 675px) {
    margin-left: 42px;
  }
  @media (min-width: 768px) {
    flex: none;
  }

  background-color: #d9d9d9;
  text-transform: capitalize;
  height: fit-content;
  ul {
    padding: 25px;
    li {
      &:not(:last-child) {
        margin-bottom: 17px;
      }
      font-size: 18px;
      a {
        text-decoration: underline;
      }
    }
  }
}
