*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: Roboto;
  background-color: #e5e5e5;
}

h4 {
  font-size: 48px;
  margin-bottom: 57px;
}

h5 {
  font-size: 24px;
}

a,
a:active,
a:link {
  color: #000;
  text-decoration: none;
}

a.active {
  border-bottom: 1px solid #000;
}

.container {
  width: 90%;
  margin: auto;
  overflow: hidden;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));

  @media (min-width: 501px) {
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  }
  grid-gap: 43px 33px;
}
